<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    <link rel="stylesheet" href={% static "css/style.css" %}>
    
    <script src="{% static 'js/javasc.js' %}"></script>  
</head>

<body>

    <header>
        {% include 'navbar.html' %}
    </header>

       


    <br><br><br>
    <div style="margin: 10px">
    <h1>Books</h1>
    <h5>Favorite: <a id="jml">0</a></h5>
    <br>
    <input type="text" id="sbar" placeholder=" Search for books.." style="margin-left: auto; margin-right: auto; display: block;">
    </div>
    <br><br>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Book</th>
          <th scope="col">Title</th>
          <th scope="col">Authors</th>
          <th scope="col">Description</th>
          <th>Add to Favorite</th>
        </tr>
      </thead>
      <tbody id="bt">    
      </tbody>
    </table>

</body>
</html>
