<!DOCTYPE html>
<html>
{% load static %}
{% load crispy_forms_tags %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/ >X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/javasc.js' %}"></script>
<script src="{% static 'js/subscribe.js' %}"></script>

</head>

<body>

<div id="overlay" >
    <div id="overlay-content">
        This will all vanish in 2 seconds ... 
    </div>
</div>

<header>
    {% include 'navbar.html' %}
</header>

<div class="content">
<h1 style="margin: 10px">Profile</h1>
<div class="flip-card" style="padding-left: 150px; padding-right: 150px;">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/40987244_2051814751496829_6527488229854150656_n.jpg?_nc_cat=0&oh=6c47f2084bf646631293ab8ebb6aef70&oe=5C22D185" alt="abang" style="width:300px;height:300px; ">
    </div>
    <div class="flip-card-back">
      <h2>S.A.R Syifa</h2> 
      <p>sarsyifa@gmail.com</p> 
      <p>Universitas Indonesia</p>
    </div>
  </div>
</div>

<h2 style="margin: 10px">Siti Aulia Rahmatussyifa</h2>


<button class="accordion">Organisasi</button>
<div class="panel">
  <p>BEM Fasilkom UI 2018 - Staf Departemen Olahraga</p>
</div>

<button class="accordion">Kepanitiaan</button>
<div class="panel">
  <p>CS League 2018 - Staf Pertandingan</p>
  <p>Wisuda Genap Fasilkom UI 2018 - Staf Dokumentasi</p>
</div>

<button class="accordion">Interest</button>
<div class="panel">
  <p>Travel</p>
  <p>Music</p>
  <p>Photography</p>
  <p>Sport</p>
</div>
<br>
<button type="button" onclick="body.style.backgroundColor='#161d1e'; body.style.color='white'; document.getElementsByClassName('flip-card-back')='#47525E'">Nightmode</button>
<button type="button" onclick="body.style.backgroundColor='white'; body.style.color='black'; document.getElementsByClassName('flip-card-back')='black'">Normal</button>
<br><br>

  <h3>Yakali ga subscribe</h3>
  <div class="subscribe grid-x align-middle" style="height: auto;">
      <div class="cell medium-1"></div>
          <div class="cell medium-4" >
              {% csrf_token %}
              {{ subsForm | crispy }}
              <div id="statusForm"></div>
                <br>
                <button class="button" name="submit" id='submit' disabled>Subscribe</button>
          </div>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">

        <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id='modal-content'>
                    <h3 id='email_delete'>Enter password:</h3>
                    <input type="password" id='password-delete' name='password-delete'>
                    <button id='delete_button' class="button"> Delete </button>
                    <div id="status-deleted"></div>
                </div>
            </div>
  </div>


        <div class="grid-x align-middle">
            <h3>Subscriber</h3>
            <div class="cell medium-2"></div>
            
            <div class="cell medium-8">
                <table id = "list_subscribers" style="margin: auto;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th width="150">Name</th>
                            <th width="150">Email</th>
                            <th class="text-center"></th>
                          </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            
            <div class="cell medium-2"></div>
        </div>


</div>
</body>
</html>