{% load static %}
<div class="header">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <a href="{% url 'story8:landing-page' %}">Home</a>
  <a href="{% url 'story8:books' %}">Books</a>
  <a href="{% url 'story11:index' %}">Story 11</a>
</div>

