/* Style the top navigation bar */
.topnav {
    overflow: hidden;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #47525E;
    text-align: center;
    font-family: 'Archivo';
    padding: 30px 30px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: grey;
    color: #FFD700;
}

* {
  box-sizing: border-box;
}

h1{text-align: center;}
h2{text-align: center;}
h5{text-align: center;}

body{
    font-family: 'Montserrat';
    max-width: 600px;
    float: center;
    margin: auto;
}

.header {
  overflow: hidden;
  background-color: #41D2F5;
  padding: 10px 10px;
  font-family: Karla;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-family: Karla;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #b2ebf2;
  color: white;
}

.header-left {
  float: left;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}


.accordion {
    background-color: #e6f7ff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: 'Montserrat'
}

.active, .accordion:hover {
    background-color: #b3ecff;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}




.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #2980b9;
  color: 'midnight-blue';
  transform: rotateY(180deg);
  z-index: 1;
  text-align: center;
}



#overlay{
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index:1001;
}

#overlay-content{ 
  position: absolute;
  display: none;
  width: 360px;
  height: 90px;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index:1002;
}

.subscribe {
    height: 100vh;
}